#statistics-page {
  padding: 20px;

  .words-statistic {
    font-size: 1.3rem;

    li {
      font-size: 1.3rem;
    }
  }

  .tab-title span {
    font-size: 2rem;
  }

  .ant-carousel {
    width: 50%;
  }
}

#one-day-stat-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    font-size: 1.3rem;
  }

  .game-name {
    font-size: 2rem;
  }
}