@import '../../../../styles/colors';

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  & .features__text,
  & .features__pic {
    max-width: 450px;
  }

  & .features__pic {
    & img {
      width: 100%;
      height: auto;
    }
  }

  & .features__text {
    font-size: 1rem;

    p,
    li > span {
      text-align: justify;
      color: $font-color;
    }

    & ul {
      padding-left: 15px;
      list-style-type: square;
      margin-bottom: 0;
      & li {
        color: $primary-color;
        margin-bottom: 0.9rem;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;

  & .description__title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primary-color;
  }

  & .description__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    & .description__item {
      position: relative;
      max-width: 50%;
      padding: 1.5rem;
      padding-left: 3rem;
      background-color: #f3f6fe;
      border-radius: 10px;

      &:nth-child(1) {
        margin-left: 30px;
      }

      &:nth-child(2) {
        align-self: center;
      }
      &:nth-child(3) {
        align-self: flex-end;
      }

      &--number {
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 50%;
        background-color: $primary-color;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%) translateY(-50%);

        & span {
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      &--text {
        font-size: 1rem;
        text-align: justify;

        & .highlighted-text {
          color: $primary-color;
          font-weight: bold;
          letter-spacing: 2px;
          border-bottom: 2px dashed $primary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .description {
    .description__title {
      font-size: 2rem;
    }
    & .description__items {
      align-items: flex-start;

      & .description__item {
        max-width: calc(100% - 30px);
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .features {
    flex-direction: column-reverse;

    & .features__pic {
      max-width: 400px;
    }

    & .features__text {
      text-align: center;
      max-width: 500px;

      & p {
        text-align: center;
      }

      & ul {
        padding-left: 0;
        list-style-type: none;
      }
    }
  }

  .description {
    & .description__items {
      width: 500px;

      & .description__item {
        max-width: calc(100% - 30px);
        margin-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .features {
    & .features__pic {
      max-width: 300px;
    }

    & .features__text {
      max-width: 300px;
    }
  }

  .description {
    & .description__items {
      width: 300px;

      & .description__item {
        max-width: 100%;
        margin-left: 0;
        padding-left: 1.5rem;

        &--number {
          display: none;
        }
      }

      & .description__item:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}
