@import '../../../../styles/colors';

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & .features__text,
  & .features__pic {
    max-width: 450px;
  }

  & .features__pic {
    & img {
      width: 100%;
      height: auto;
    }
  }

  & .features__text {
    font-size: 1rem;

    p,
    li > span {
      text-align: justify;
      color: $font-color;
    }

    & ul {
      padding-left: 15px;
      list-style-type: square;
      & li {
        color: $primary-color;
        margin-bottom: 0.9rem;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  & .description__title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    & span {
      color: $primary-color;
    }
  }

  & .description__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    & .description__item {
      position: relative;
      max-width: 300px;
      padding: 1.5rem;
      padding-top: 3rem;
      background-color: #f8f9fa;

      &--number {
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 50%;
        background-color: $primary-color;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%) translateY(-50%);

        & span {
          color: #fff;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      &--text {
        font-size: 1rem;
        text-align: justify;

        & .highlighted-text {
          color: $primary-color;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }
}
