$primary-color: #315d9d;
$primary-hover-color: #40a9ff;
$primary-active-color: #096dd9;

$light-blue-color: #e9effd;

$light-color: #fefefe;

$font-color: #161616;
$font-color-light: #fefefe;
$font-color-bright: #e9605a;

$color-group-1: #43a047;
$color-group-2: #00897b;
$color-group-3: #00acc1;
$color-group-4: #039be5;
$color-group-5: #ff7043;
$color-group-6: #e91e63;
$color-group-7: #7e57c2;

$color-learned-word: #ffbf00;

$color-right-answer: #43a05a;
$color-wrong-answer: #cb1b39;
