.words {
  margin: 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3.ant-typography {
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  span.ant-typography {
    font-size: 20px;
  }
}
