.words-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  width: 100%;

  & .words-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 2rem;
  }

  & .btn--top {
    right: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .words-list-container {
    .words-list {
      flex-direction: row;
      flex-flow: row wrap;
      align-items: stretch;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    & .btn--top {
      right: 16px;
    }
  }
}
