.words-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  width: 100%;

  & .words-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & .btn--top {
    right: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .words-list-container {
    // .words-list {
    //   flex-direction: row;
    //   flex-flow: row wrap;
    //   align-items: stretch;
    //   padding-left: 1rem;
    //   padding-right: 1rem;
    // }

    & .btn--top {
      right: 16px;
    }
  }
}
