#audiochallenge-page {
    position: relative;
    height: 75vh;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game--audiochallenge {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

}

.options-container {
    display: flex;
    gap: 30px;
}

.leave-btn {
    position: absolute;
    right: 40px;
    top: 40px;
}

#right-answer {
    background-color: rgba(127, 255, 212, 0.482);
}

#wrong-answer {
    background-color: rgba(233, 65, 98, 0.729);
}