@import '../../../../styles/colors';

.team-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &--title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: $primary-color;
  }

  & .team-members--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & .team-member--card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f3f6fe;
      width: 300px;
      position: relative;
      padding: 100px 1rem 2rem 1rem;

      & .team-member--pic {
        position: absolute;
        top: 0;
        left: 50%;
        max-height: 160px;
        max-width: 160px;
        overflow: hidden;
        border-radius: 50%;
        transform: translateY(-50%) translateX(-50%);

        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      & .team-member--name {
        text-transform: uppercase;
        color: $primary-color;
        letter-spacing: 3px;
        font-weight: bold;
      }
    }
  }
}
